.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
.bm-burger-bars {
  background: #000;
}

.bm-burger-bars-hover {
  background: #5fa8d0;
}

.bm-cross-button {
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-cross {
  background: #fff;
  width: 6px;
  height: 36px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  padding-top: 4.5em;
  font-size: 1.15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bm-morph-shape {
  /* fill: rgb(255 178 237 / 20%); */
  fill: #2c2c2c;
  /* filter: drop-shadow(0 0 30px rgb(255, 182, 182)); */
  /* background: rgba(255, 178, 237, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px; */
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bm-item-list svg {
  margin-top: 30px;
  fill: #fffffe;
}
.bm-item-list svg:hover {
  fill: #89d5ff;
  opacity: 1;
}

/* Individual item */
.bm-item {
  font-family: Playfair Display SC;
  font-weight: 700;
  display: inline-block;
  color: #fffffe;
  font-size: 3rem;
  text-decoration: none;
}

.bm-item:hover {
  text-decoration: underline;
  color: #89d5ff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.hamburger-react {
  position: absolute;
  top: 0;
  right: 0;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: block;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    z-index: 100;
    scroll-behavior: smooth;
  }
  .desktop-menu ul {
    list-style: none;
  }
}
