.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-cross {
  background: #bdc3c7;
  width: 6px;
  height: 36px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  padding: 1.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  /* fill: rgb(255 178 237 / 20%); */
  fill: #363636;
  /* filter: drop-shadow(0 0 30px rgb(255, 182, 182)); */
  /* background: rgba(255, 178, 237, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px; */
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
}

.bm-item:hover {
  opacity: 0.5;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.hamburger-react {
  position: absolute;
  top: 0;
  right: 0;
}
